.span12
  %section#hero_unit.hero-unit
    =raw @page.content_for(:hero_unit)
  .row-fluid
    - if @page.content_for :side_body
      %section#body.span8
        =raw @page.content_for(:body)
      %aside#side_body.span4
        =raw @page.content_for(:side_body)
    -else
      %section#body.span12
        =raw @page.content_for(:body)

